header {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  padding: 1rem 2rem;
  justify-content: space-between;
  font-weight: bold;
  color: white;
}
header .logo {
  font-size: 1.5rem;
}
header .navlinks {
  justify-self: center;
}
header nav ul {
  display: flex;
  align-items: center;
}
header nav ul li {
  list-style: none;
}
header nav a {
  color: white;
  text-decoration: none;
  margin-left: 1.5rem;
  font-weight: 500;
}
header .header-btns {
  justify-self: end;
}
header .header-btns button {
  margin-left: 1rem;
  border-radius: 50%;
  height: 100%;
}
header .header-btns :first-child {
  margin-left: 0;
  background-color: rgb(143, 101, 3);
  border-radius: 20px;
}
header nav a:hover {
  text-decoration: underline;
}

header nav a.active:hover {
  text-decoration: none;
}
